body {
  background-color: #fdfdfd;
}
.title-h1,
.title-sub {
  text-transform: uppercase;
  letter-spacing: 2px;
  word-spacing: 2px;
  color: #444;
  border-bottom: 1px solid rgba(200, 200, 200, 0.5);
  padding: 1em 4.5% 0.5em;
  margin: 1em 0;
  text-align: center;
  font-size: 2.5em;
  font-weight: 500;
  letter-spacing: 0.1em;
}
.title-h1 small,
.title-sub small {
  display: inline-block;
  color: #242424;
  font-size: 0.5em;
}
.title-h1 small a,
.title-sub small a {
  color: #888;
  text-decoration: none;
}
.title-h1 small a:hover,
.title-sub small a:hover {
  color: #FFF;
}
.title-h1 small div,
.title-sub small div {
  margin-top: 0.8em;
}
.title-h1 small li,
.title-sub small li {
  display: inline-block;
}
.title-sub {
  margin: 0.8em 0;
  text-align: left;
  color: #666;
  font-size: 1.5em;
}
.navbar-brand {
  background: url(../img/logo.png) no-repeat left center;
  margin: 10px auto;
  width: 150px;
  height: 22px;
  text-indent: -9000px;
}
#wrap > div {
  margin: 2.5em auto;
}
.list-group a {
  cursor: pointer;
  text-align: left;
}
.lists .thumbnail {
  cursor: pointer;
}
.lists .name {
  margin-top: -0.5em;
  text-align: center;
  text-transform: uppercase;
  font-size: 1.2em;
  height: 24px;
  overflow: hidden;
}
.lists .desc {
  margin-bottom: 3em;
  height: 1.3em;
  font-size: 0.8em;
  overflow: hidden;
  text-align: center;
}
.details {
  margin: 2em auto;
}
.details li {
  list-style: none;
  line-height: 28px;
}
.details li:before {
  content: "› ";
  padding-right: 3px;
}
.light form {
  text-align: center;
}
.light input,
.light textarea {
  background: #fff;
  font-family: Helvetica Neue, Helvetica, Arial, "Hiragino Sans GB", sans-serif;
  font-style: italic;
  font-size: 1em;
  padding: 10px 15px;
  border: 1px solid #ddd;
  width: 90%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  color: #333;
  font-weight: bold;
  margin: 1em;
}
.light input:focus,
.light textarea:focus {
  color: #000;
}
.light textarea {
  height: 96px;
}
.carousel-indicators {
  bottom: -0.6em;
}
.carousel-indicators li {
  border-color: #C00;
  margin: 5px;
}
.carousel-indicators li.active {
  background-color: #C00;
  border-width: 3px;
  margin: 5px;
}
.ds-header {
  margin: 5em auto;
}
.tops {
  margin: 2em auto;
}
.tops .name {
  text-align: center;
  margin-top: -1.3em;
}
.hi {
  padding: 15px 18% 35px 18%;
  text-align: left;
  min-height: 125px;
  font-size: 1.2em;
}
.hi em {
  display: block;
  padding-right: 25px;
  text-align: right;
}
.marks {
  background-color: #F8F8F8;
  text-align: center;
  margin: 1em auto;
  padding-top: 7px;
}
.s3,
.s4,
.s5,
.m2,
.m3,
.m4,
.m5,
.m6,
.ip20,
.ip65,
.ip67,
.sd,
.wl,
.dmx,
.auto,
.disco,
.flick,
.charge,
.live,
.cast {
  display: inline-block;
  width: 67px;
  height: 67px;
  margin: 5px;
  background: url(../img/mk.jpg) no-repeat;
  background-position: 0 0;
  cursor: pointer;
}
.s4 {
  background-position: -100px 0;
}
.s5 {
  background-position: -200px 0;
}
.m2 {
  background-position: -300px 0;
}
.m3 {
  background-position: -400px 0;
}
.m4 {
  background-position: -500px 0;
}
.m5 {
  background-position: -600px 0;
}
.m6 {
  background-position: -700px 0;
}
.ip20 {
  background-position: 0 -100px;
}
.ip65 {
  background-position: -100px -100px;
}
.ip67 {
  background-position: -200px -100px;
}
.dmx {
  background-position: -300px -100px;
}
.auto {
  background-position: -400px -100px;
}
.sd {
  background-position: -500px -100px;
}
.wl {
  background-position: -600px -100px;
}
.disco {
  background-position: -700px -100px;
}
.live {
  background-position: -800px -100px;
}
.cast {
  background-position: -900px -100px;
}
.charge {
  background-position: -1000px -100px;
}
.flick {
  background-position: -1100px -100px;
}
#sidebar .als {
  z-index: 2;
  color: #fff;
  background-color: #222;
  border-color: #222;
}
#sidebar .widget {
  background: #fff;
  -webkit-box-shadow: 1px 2px 3px #ddd;
  box-shadow: 1px 2px 3px #ddd;
  margin-bottom: 30px;
  word-wrap: break-word;
}
#sidebar .widget .title {
  padding: 15px 20px;
  font-size: 1em;
  border-bottom: 1px solid #ddd;
  border-top: 1px solid #f5f5f5;
  font-weight: bold;
}
#sidebar .widget .entry {
  font-size: 0.9em;
  padding: 5px 0;
}
#sidebar .widget ul,
#sidebar .widget ol,
#sidebar .widget dl {
  list-style: none;
}
#sidebar .widget ul li,
#sidebar .widget ol li,
#sidebar .widget dl li {
  padding: 0.5em 1.2em;
  cursor: pointer;
}
#sidebar .widget ul li:hover,
#sidebar .widget ol li:hover,
#sidebar .widget dl li:hover,
#sidebar .widget ul li.active,
#sidebar .widget ol li.active,
#sidebar .widget dl li.active {
  background-color: #f5f5f5;
}
#sidebar .widget ul li span,
#sidebar .widget ol li span,
#sidebar .widget dl li span {
  color: #0085ff;
}
#sidebar .search {
  margin-bottom: 30px;
}
#sidebar .search input {
  background: #fff;
  font-family: Helvetica Neue, Helvetica, Arial, "Hiragino Sans GB", sans-serif;
  font-style: italic;
  font-size: 1em;
  padding: 10px 15px;
  border: 1px solid #ddd;
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  color: #777;
}
#sidebar .search input:focus {
  color: #000;
}
#sidebar .tags small {
  margin-left: 15px;
  color: #777;
}
#sidebar .tags small:before {
  content: '(';
}
#sidebar .tags small:after {
  content: ')';
}
#footer .container {
  text-align: center;
}
.contact {
  text-align: right;
  list-style: none;
}
.contact b {
  color: #666;
}
.contact li {
  margin-top: 0.5em;
}
.contact li.ge {
  margin-top: 1em;
}
@media (min-width: 768px) {
  .light .carousel {
    height: 300px;
  }
  .light .carousel-inner > .item {
    height: 300px;
    background-color: #FFF;
  }
}
@media (max-width: 767px) {
  .navbar-brand {
    background: url(../img/logo.png) no-repeat center center;
    text-indent: -9000px;
  }
  .details ul {
    padding-left: 0;
  }
  .list-group-item.an-categorys {
    margin-top: 2em;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
  }
  .visible-xs-block {
    text-align: center;
  }
  .title-sub {
    font-size: 1.3em;
  }
  .light .carousel {
    min-height: 225px;
  }
  .light .carousel-inner > .item {
    min-height: 225px;
    background-color: #FFF;
  }
}
