<h1 class="title-h1">广州得志电子科技有限公司</h1>
<div class="row intr">
  <div class="col-xs-12 col-md-8">
    <p>
      <b>广州得志电子科技有限公司</b>是一家专业生产LED舞台灯光设备和照明生产厂家，集科研、开发、生产、销售和服务为一体的高新科技企业。公司经过多年的快速发展，取得了一个个令人瞩目的成绩.目前公司拥有员工近200人，其中研发技术人员占员工四分之一，拥有自主品牌"得志"和<b>DAISEYA</b>，现代化标准厂房近10000平方米，企业通过了ISO9001的认证，产品先后通过了国家出口认证，CE，ROHS认证，产品质量均达到国际同类产品先进水平，在2010年上海世博会大放异彩，且远销海内外。<b>DAISEYA</b> 是我们自己的品牌，我们专业生产舞台灯光，如洗墙灯，摇头灯，城市之光，LED帕灯，等等。
    </p>
  </div>
  <div class="col-xs-12 col-md-4">
      <a class="play" href="/video.html?DAISEYA" target="_blank">
        <span class="glyphicon glyphicon-play"></span>
        <div>了解得志灯光？</div>
      </a>
  </div>
</div>
<br>
<carousel interval="2500">
  <slide ng-repeat="val in ['ML-Q1507-STEPLESS', 'ML-ZQ1519', 'PF1012']">
    <a href="#/lights/{{ val }}">
      <img ng-src="/img/home/{{ val }}.jpg" style="margin:auto;">
    </a>
<!--     <div class="carousel-caption">
      <h4>Slide {{$index}}</h4>
      <p>...</p>
    </div> -->
  </slide>
</carousel>

<h2 class="title-sub">热销产品</h2>
<div class="row tops">
  <div als class="col-xs-6 col-md-2" ng-repeat="light in tops">
    <a class="thumbnail" ng-click="show(light)" href="#/lights/{{ light }}">
      <img ng-src="http://daisy.qiniudn.com/{{ light }}-1.jpg-400x300" alt="{{ light }}">
    </a>
    <div class="name">{{ light }}</div>
  </div>
</div>


<h2 class="title-sub">客户评价</h2>
<carousel interval="5000">
  <slide ng-repeat="say in says">
    <div class="hi">
      {{ say.hi }}
      <br>
      <em>- {{ say.who }}</em>
      <div>
      </div>
    </div>
  </slide>
</carousel>